<template>
	<section>
		<PageTitle :title="$t('error')"/>
		<div class="container my-4">
			<div class="alert alert-warning mb-4">{{$t('not-allowed-text')}}</div>
			<router-link class="btn btn-primary" :to="{ name: 'main-index' }">{{$t('to-home')}}</router-link>
		</div>

	</section>
</template>

<script>
	import PageTitle from 'Main/components/PageTitle.vue';

	export default {
		components: {PageTitle},
	}
</script>





<i18n src="../locales/Forbidden.json"/>