<template>
	<div>
		<page-title :title="$t('forgot-password')" :subtitle="$t('forgot-password-info')"/>
		<div v-if="success" class="container">
			<div class="alert alert-info">{{$t('confirm-password-mail')}}</div>
		</div>
		<div v-if="!success" class="container mt-4">
			<warning-list v-if="warnings" v-on:close="warnings=''" :warnings="warnings"/>
			<div class="form-group row">
				<label class="col-md-4 col-form-label">{{$t('email-address')}}</label>
				<input class="col-md-8 form-control" v-model="email"
					:class="{'is-invalid':!$v(email,true,$consts.REGEX_EMAIL)}">
			</div>
			<hr>
			<div class="form-group row">
				<div class="col-md-4"><img :src="captchaImg"/></div>
				<label class="col-md-8">
					<span>{{$t('captcha-info')}}</span>
					<router-link :to="{name: 'main-imprint'}"> »&nbsp;{{$t('imprint')}}</router-link>
				</label>
				<label class="col-md-4 col-form-label">{{$t('captcha-text')}}</label>
				<input class="col-md-8 form-control required"  v-model="captchaText"
						:class="{'is-invalid':!$v(captchaText,true,$consts.REGEX_TEXT_100)}"/>
			</div>
			<button class="btn my-3 btn-primary mr-1" v-on:click="startReset()">{{$t('next')}}</button>
			<router-link class="btn my-3 btn-secondary" :to="{ name: 'main-login' }">{{$t('cancel')}}</router-link>
		</div>
	</div>
</template>
<script>
import PageTitle from "../../main/components/PageTitle.vue";
import WarningList from "../../main/components/WarningList.vue";

export default {
	components: {PageTitle, WarningList},
	data: function() {
		return {
			email:'',
			warnings:'',
			success:false,
			captchaImg:'',
			captchaTicket:'',
			captchaText:''
		}
	},
	mounted: function() {
		this.newCaptcha();
	},
	methods: {
		newCaptcha:  function() {
			this.$axios.get('main/captcha').then(response => {
				this.captchaTicket=response.data.ticket;
				this.captchaText='';
				var blob = new Blob([response.data.svg], {type: 'image/svg+xml'});
				var url = URL.createObjectURL(blob);
				this.captchaImg=url;
			})
		},
		startReset: function() {
			var data={
				email:this.email,
				captchaText:this.captchaText,
				captchaTicket:this.captchaTicket
			};
			this.$axios.post('main/reset-request', data).then(response => {
				if (response.data[0]) {
					this.warnings=response.data;
					this.newCaptcha();
				}
				else {
					this.warnings=false;
					this.success=true;
				}
			});
		},
	}
}
</script>





<i18n src="../locales/ResetRequest.json"/>