<template>
	<div>
		<PageTitle :title="$t('user-list-title')" :button="$t('manual')" buttonhref='#/text-main-userlist'/>

		<!-- Delete user -->
		<modal-confirm v-if="showDialogDelete" v-on:accept="showConfirmDelUser=true;" v-on:close="showDialogDelete=false;">
			<warning-list :warnings="warningsDelete"/>
			<p>{{$t('confirm-delete-user',{login:deleteUser.login})}}</p>
		</modal-confirm>
		<modal-input-tan v-if="showConfirmDelUser" v-on:close="showConfirmDelUser=false" v-on:accept="del"/>

		<!-- Add new user -->
		<modal-dialog v-if="showDialogNew" v-on:close="showDialogNew=false" v-on:accept="showConfirmAddUser=true;">
			<template v-slot:header>{{$t('create-new-user')}}</template>
			<warning-list :warnings="warningsNew"/>
			<div class="form-group">
				<label>{{$t('username')}}</label>
				<input class="form-control" v-model="newUser.login"
					:class="{'is-invalid':!$v(newUser.login,true,$consts.REGEX_LOGIN)}">
				<label>{{$t('password')}}</label>
				<input class="form-control" v-model="newUser.password"
				:class="{'is-invalid':!$v(newUser.password,true,$consts.REGEX_PASSWORD)}">
				<label>{{$t('email-address')}}</label>
				<input class="form-control" v-model="newUser.email"
					:class="{'is-invalid':!$v(newUser.email,true,$consts.REGEX_EMAIL)}">
			</div>
		</modal-dialog>
		<modal-input-tan v-if="showConfirmAddUser" v-on:close="showConfirmAddUser=false" v-on:accept="add"/>

		<!-- Edit user properties -->
		<modal-dialog v-if="showDialogEdit" v-on:close="showDialogEdit=false" v-on:accept="showConfirmEditUser=true">
			<template v-slot:header>{{$t('edit-user-title')}}</template>
			<warning-list :warnings="warningsEdit"/>
			<div class="form-group">
				<div class="form-group row">
					<label class="col-md-4 col-form-label">{{$t('username')}}</label>
					<input class="col-md-8 form-control" readonly v-model="editUser.login"
						:class="{'is-invalid':!$v(editUser.login,true,$consts.REGEX_LOGIN)}">
					<label class="col-md-4 col-form-label">{{$t('personal-name')}}</label>
					<input class="col-md-8 form-control" v-model="editUser.name"
						:class="{'is-invalid':!$v(editUser.name,true,$consts.REGEX_USERNAME)}">
					<label class="col-md-4 col-form-label">{{$t('email-address')}}</label>
					<input class="col-md-8 form-control" v-model="editUser.email"
						:class="{'is-invalid':!$v(editUser.email,true,$consts.REGEX_EMAIL)}">
					<label class="col-md-4 col-form-label">{{$t('language')}}</label>
					<select class="form-control col-md-8 " v-model="editUser.lang"
						:class="{'is-invalid':!$v(editUser.lang,true,$consts.REGEX_LANGUAGE)}">
						<option v-for="lng in $consts.getLangList()" :key="lng.code" :value="lng.code">{{lng.name}} ({{lng.code}})</option>
					</select>
					<label class="col-md-4 col-form-label">{{$t('comment')}}</label>
					<input class="col-md-8 form-control" v-model="editUser.comment"
						:class="{'is-invalid':!$v(editUser.comment,false,$consts.REGEX_COMMENT_300)}">
					<label class="col-md-4 col-form-label">{{$t('new-password')}}</label>
					<input class="col-md-8 form-control" v-model="editUser.password">
					<label class="col-md-4 col-form-label">{{$t('account-state')}}</label>
					<div class="col-md-8 mt-2">
						<input type="checkbox" v-model="editUser.active">
						<span>{{$t('active')}}</span>
					</div>
					<label class="col-md-4 col-form-label">{{$t('overview-roles')}}</label>
					<div class="col-md-8 mt-2">
						<div class="form-check" v-for="role in allRoles">
							<input class="form-check-input" :id="role" type="checkbox" :value="role" v-model="editUser.roles">
							<label class="form-check-label" :for="role">{{role}}</label>
						</div>
					</div>
				</div>
			</div>
		</modal-dialog>
		<modal-input-tan v-if="showConfirmEditUser" v-on:close="showConfirmEditUser=false" v-on:accept="save"/>

		<!-- Send message to all users-->
		<div class="container">
			<div class="card shadow my-4">
				<div class="card-header bg-dark text-white">{{$t('message-to-all-users')}}</div>
				<div class="card-body">
					<warning-list :warnings="warningsMessage"/>
					<input class="form-control" :placeholder="$t('enter-subject')" v-model="subject"
						:class="{'is-invalid':!$v(subject,true,$consts.REGEX_TEXT_100)}">
					<textarea class="form-control" v-model='message' :placeholder="$t('enter-message')"
						:class="{'is-invalid':!$v(message,true,$consts.REGEX_TEXT_AREA)}"/>
					<div v-if="messageConfirm" class="alert alert-primary">{{messageConfirm}}</div>
				</div>
				<div class="card-footer">
					<button class="mr-1 btn btn-primary" v-on:click="showConfirmSendMessage=true">{{$t('send')}}</button>
				</div>
			</div>
		</div>
		<modal-input-tan v-if="showConfirmSendMessage" v-on:close="showConfirmSendMessage=false" v-on:accept="sendMessage"/>

		<!-- Main content displaying user list -->
		<modal-input-tan v-if="showConfirmLoadUserList" v-on:close="showConfirmLoadUserList=false" v-on:accept="loadUserList"/>
		<div class="container" >
			<div v-if="userList.length>0" class="card shadow my-4" >
				<div class="card-header bg-dark text-white">{{$t('user-list')}}</div>
				<search-box v-on:search="text=> {this.searchText=text}"/>
				<table class="card-body table my-0">
					<tr>
					<th style="cursor: pointer">No</th>
						<th style="cursor: pointer" v-on:click="sort('name')">{{$t('personal-name')}}</th>
						<th style="cursor: pointer" v-on:click="sort('login')" class="d-none d-sm-table-cell">{{$t('username')}}</th>
						<th style="cursor: pointer" v-on:click="sort('mail')" class="d-none d-sm-table-cell">{{$t('email-address')}}</th>
						<th style="cursor: pointer" v-on:click="sort('lastLogin')" class="d-none d-sm-table-cell">{{$t('last-login')}}</th>
						<th style="cursor: pointer" v-on:click="sort('active')" >{{$t('active')}}</th>
						<th>{{$t('roles')}}</th>
						<th style="width:10em">{{$t('action')}}</th>
					</tr>
					<tr v-for="(user,index) in userList" v-show="search(user)">
						<td>{{index+1}}</td>
						<td>{{user.name}}</td>
						<td class="d-none d-sm-table-cell hyphenate">{{user.login}}</td>
						<td class="d-none d-sm-table-cell hyphenate">{{user.email}}</td>
						<td class="d-none d-sm-table-cell" v-if="user.lastLogin">{{(new Date(user.lastLogin)).toLocaleDateString(store.lang)}}</td>
						<td class="d-none d-sm-table-cell" v-else></td>
						<td>{{user.active ? '✓' : ''}}</td>
						<td >
							<span v-if="user.roles" v-for="role in user.roles" :class="role=='admin'? 'bg-warning':''">{{role}} </span>
						</td>
						<td v-if="user.login!=store.user.login" style="min-width:6em">
							<tooltip-icon  :tip="$t('edit-user')" src='~Main/img/edit.svg' v-on:click="edit(user)"/>
							<tooltip-icon  :tip="$t('delete-user')" src='~Main/img/delete.svg' v-on:click="confirmDel(user)"/>
							<tooltip-icon  :tip="$t('delete-session')" src='~Main/img/close.svg' v-on:click="deleteSession(user)"/>
						</td>
						<td v-else/>
					</tr>
				</table>
			</div>
			<div v-else class="container">
				<warning-list :warnings="warningsList"/>
				<button class="btn btn-primary" v-on:click="showConfirmLoadUserList=true">{{$t('load-user-list')}}</button>
			</div>
			<div class="text-right">
				<img class="bigIcon" v-on:click="showDialogNew=true" src="~Main/img/plus-primary.svg" :alt="$t('create-new-user')">
			</div>
			<button class="mr-1 mt-3 btn btn-secondary" v-on:click="$router.push('main-admin')">{{$t('back')}}</button>
		</div>

	</div>
</template>

<script>
	import WarningList from 'Main/components/WarningList.vue';
	import PageTitle from 'Main/components/PageTitle.vue';
	import ModalConfirm from 'Main/components/ModalConfirm.vue';
	import ModalDialog from 'Main/components/ModalDialog.vue';
	import ModalInputTan from 'Main/components/ModalInputTan.vue';
	import SearchBox from 'Main/components/SearchBox.vue';
	import TooltipIcon from 'Main/components/TooltipIcon.vue';
	import store from 'Main/js/store.js';

	export default {
		components: {WarningList, PageTitle, ModalDialog, ModalConfirm, ModalInputTan, SearchBox, TooltipIcon},
		data: function() {
			return {
				showDialogNew:false,
				showDialogEdit:false,
				showDialogDelete:false,
				showConfirmLoadUserList:false,
				showConfirmEditUser:false,
				showConfirmSendMessage:false,
				showConfirmAddUser:false,
				showConfirmDelUser:false,
				searchText:'',
				userList:[],
				store:store,
				editUser:{},
				newUser:{},
				deleteUser:{},
				editRoles:[],
				message:'',
				messageConfirm:'',
				subject:'',
				allRoles:['admin'],
				warningsEdit:[],
				warningsDelete:[],
				warningsNew:[],
				warningsMessage:[],
				warningsList:[],
			}
		},
		methods: {
			edit: function(user) {
				user.password='';
				this.editUser=user;
				this.showDialogEdit=true;
			},
			save: function(tan) {
				this.showConfirmEditUser=false;
				this.editUser.tan=tan;
				this.$axios.put('main/admin/user', this.editUser).then(response=> {
					if (response.data[0]) {
						this.warningsEdit=response.data.map(x=> this.$t(x) );
					}
					else {
						this.warningsEdit=[];
						this.showDialogEdit=false;
						this.userList=response.data.userList;
					}
				});
			},
			confirmDel: function(user) {
				this.showDialogDelete=true;
				this.deleteUser=user;
			},
			del: function(tan) {
				this.showConfirmDelUser=false;
				this.warningsDelete=[];
				this.$axios.delete('main/admin/user/'+this.deleteUser.login,{ params: { tan: tan } }).then(response=> {
					if (response.data[0]) {
						this.warningsDelete=response.data;
					}
					else {
						this.warningsDelete=[];
						this.showDialogDelete=false;
						this.userList=response.data.userList;
					}
				})
			},
			add: function(tan) {
				this.showConfirmAddUser=false;
				this.warningsNew=[];
				this.newUser.tan=tan;
				this.$axios.post('main/admin/user', this.newUser).then(response=> {
					if (response.data[0]) {
						this.warningsNew=response.data;
					}
					else {
						this.warningsNew=[];
						this.showDialogNew=false;
						this.userList=response.data.userList;
						this.newUser={};
					}
				});
			},
			deleteSession: function(user) {
				this.$axios.delete('main/admin/token/'+user.login);
			},
			sendMessage: function(tan) {
				this.showConfirmSendMessage=false;
				this.$axios.post('main/admin/message', {message:this.message,subject:this.subject,tan:tan}).then(response=> {
					if (response.data[0]) {
						this.warningsMessage=response.data;
					}
					else {
						this.warningsMessage=[];
						this.message='';
						this.subject='';
						this.messageConfirm=this.$t('mail-sent');
					}
				})
			},
			search: function (user) {
				var s=this.searchText.toLowerCase();
				return s=='' ||
					(user.login && user.login.toLowerCase().indexOf(s)>=0) ||
					(user.name && user.name.toLowerCase().indexOf(s)>=0) ||
					(user.roles && user.roles.indexOf(s)>=0);
			},
			sort: function(attribute) {
				this.userList.sort(this.compareValues(attribute));
			},
			compareValues: function (key, order='asc') {
  				return function innerSort(a, b) {
    				if (!a.hasOwnProperty(key) || !b.hasOwnProperty(key)) return 0;
    				const varA=(typeof a[key]==='string') ? a[key].toUpperCase() : a[key];
    				const varB=(typeof b[key]==='string') ? b[key].toUpperCase() : b[key];
    				var result=0;
    				if (varA > varB) result=1;
					else if (varA < varB) result=-1;
    				return ((order==='desc') ? (result * -1) : result );
				};
			},
			loadUserList: function(tan) {
				this.showConfirmLoadUserList=false;
				this.warningsList=[];
				this.$axios.get('main/admin/user', { params: { tan: tan } }).then(response=> {
					if (response.data[0]) {
						this.warningsList=response.data;
					}
					else {
						this.userList=response.data.userList;
					}
				});
			}
		},
		mounted() {
			for (var mod of this.$config.allModules) {
            	if (mod.meta.role) this.allRoles.push(mod.meta.role)
			};
		}

	}
</script>

<i18n src="../locales/UserList.json"/>
