<template>
	<div>
		<input 
			class="form-control-file"
			type="file"
			v-if="!selectedFile"
			v-on:change="handleInput"
		>
		<div
			id="file-upload-drop"
			class="border p-3 my-1 file-upload-drop"
			contenteditable
			v-if="!selectedFile"
			v-on:drop.stop.prevent="handleDrop"
			v-on:dragover.prevent="focusDropZone"
			v-on:dragleave.prevent="unfocusDropZone"
			v-on:dragstart.prevent
			v-on:paste.prevent="handlePaste"
			v-on:click="areaClicked=true"
		>
			<span v-if="!areaClicked">{{$t('drop-info')}}</span>
			<span v-else>&nbsp;</span>
		</div>
		<div v-if="selectedFile">
			{{$t('selected-file')+selectedFile.name}}
			<tooltip-icon 
				:tip="$t('reset')"
				v-on:click="reset()"
				src="~Main/img/delete.svg"
			/>
		</div>
		<warning-list class="mt-2" v-if="warnings" :warnings="warnings"/>
	</div>
</template>

<script>
	//should never be used - just to prevent programming errors...
	const DEFAULT_MAX_SIZE=1;

	import imageCompression from 'browser-image-compression';
	import WarningList from './WarningList.vue';
	import TooltipIcon from './TooltipIcon.vue';

	export default {
		props: ['maxsize','imgmaxsize','force'],
		components: {WarningList,TooltipIcon},
		data: function() {
			return {
				warnings: false,
				dragAndDropCapable: false,
				files: [],
				selectedFile: null,
				areaClicked: false
			}
		},
		methods: {
			// common action when file was selected
			fileSelected: function(event) {
				//collect file infos
				var maxSizeMB=this.maxsize ? this.maxsize/1024/1024 : DEFAULT_MAX_SIZE;
				var imgMaxSizeMB=this.imgmaxsize ? this.imgmaxsize/1024/1024 : maxSizeMB;
				//check forced type
				if (this.force && this.selectedFile.type.indexOf(this.force)<0) {
					return this.warnings=[{msg:'unsupported-file'}];
				}
				//do we have to compress the image?
				var compressImg=(this.selectedFile.type=="image/jpeg" || this.selectedFile.type=="image/png") && this.selectedFile.size>imgMaxSizeMB;
				//compress png and jpg to max 1MB
				if (compressImg) {
					var options={ maxSizeMB: imgMaxSizeMB, maxWidthOrHeight: 1080, useWebWorker: false };
					try {
					   	imageCompression(this.selectedFile, options).then((compressedFile)=> {
						   	console.log(`compressedFile size ${compressedFile.size / 1024} kB`);
							this.$emit('upload',compressedFile);
							this.warnings=false;
						});
					}
					catch (error) {
						this.warnings=[{msg:'unsupported-file'}];
					}
				}
				//dont compress other allowed types
				else if (this.$consts.UPLOAD_MIME_TYPES.indexOf(this.selectedFile.type)>=0 ) {
					if (this.selectedFile.size>this.maxsize) {
						this.warnings=[{msg:'file-to-large', params: {size:this.maxsize/1024}}];
						return;
					}
					this.$emit('upload',this.selectedFile);
					console.log(this.selectedFile);
					this.warnings=false;
				}
				//unsupported format
				else {
					this.warnings=[{msg:'unsupported-file'}];
				}
			},

			// handle paste event
			handlePaste: function(ev) {
				this.selectedFile = null
				for (const item of ev.clipboardData.items) {
					const file = item.getAsFile()
					if (file) {
						this.selectedFile = file
						this.fileSelected()
						return
					}
				}
				this.warnings=[{msg:'paste-failed'}]
			},

			// handle drop event
			handleDrop: function(ev) {
				this.selectedFile = null
				if (event.dataTransfer && event.dataTransfer.files) {
					this.selectedFile = event.dataTransfer.files[0];
					this.fileSelected()
				}
			},

			// handle input event
			handleInput: function(ev) {
				this.selectedFile = null
				if (event.target && event.target.files) {
					this.selectedFile = event.target.files[0];
					this.fileSelected()
				}
			},

			// Focus drop zone (similar to hover)
			focusDropZone: function () {
				document.getElementById('file-upload-drop')?.classList.add('file-upload-drop-focus')
			},

			// Unfocus drop zone (similar to hover)
			unfocusDropZone: function() {
				document.getElementById('file-upload-drop')?.classList.remove('file-upload-drop-focus')
			},

			// clear already selected file and emit message to parent
			reset: function() {
				this.selectedFile = null
			}
		}

	}
</script>

<style>
	.file-upload-drop {background-color:#e9ecef}
	-file-listing{
		width:400px;
		margin:auto;
		padding:10px;
		border-bottom: 1px solid #ddd;
	}
	.file-listing img{
		height: 150px;
	}
	.file-upload-drop:hover, .file-upload-drop-focus {
    background-color:#9badbf;
  }
</style>

<i18n src="../locales/FileUpload.json"/>
