<template>
	<modal-dialog v-on:close="$emit('close')" v-on:accept="$emit('accept')">
		<template v-slot:header>{{$t('confirmation')}}</template>
		<div class="card-body bg-white">
			<p>{{$t('confirm-cancel')}}</p>
		</div>
		<template v-slot:footer>
			<slot name="footer">
				<button class="btn btn-primary" v-on:click="$emit('accept')">{{$t('yes')}}</button>
				<button class="btn btn-secondary" v-on:click="$emit('close')">{{$t('no')}}</button>
			</slot>
		</template>
	</modal-dialog>
</template>

<script>
	import ModalDialog from "./ModalDialog.vue";
	export default {
		components: {ModalDialog},
		name: 'modal-confirm-cancel'
	}
</script>


<i18n src="../locales/ModalConfirmCancel.json"/>