<template>
	<modal-dialog v-on:close="$emit('close')">
		<template v-slot:header>
			<slot name="header">{{$t('info')}}</slot>
		</template>
		<div class="text-block" ref="markdown-block-container"></div>
		<slot></slot>
		<template v-slot:footer>
			<slot name="footer">
				<button class="btn btn-secondary" v-on:click="$emit('close')">{{$t('close')}}</button>
			</slot>
		</template>
	</modal-dialog>
</template>

<script>
	import ModalDialog from "./ModalDialog.vue";
	import store from '../js/store.js';
	import MarkdownIt from 'markdown-it';
	import MarkdownItAttrs from 'markdown-it-attrs';

	export default {
		components: {ModalDialog},
		name: 'modal-info',
		props: ['mdname'],
		mounted: function() {this.loadText()},
		data: function() {
			return { 
				warning: '',
				loading: true,
				store: store
			}
		},
		watch: {
			warnings: function() {this.loadText()},
			"store.lang": function() { this.lang = store.lang; this.loadText(); }
		},
		methods: {
			loadText: async function() {
				this.loading = true;
				if (this.mdname !== null && this.mdname !== undefined && this.mdname !== "") {
					var url='./text/'+store.lang+'/'+this.mdname;
					let response = null;
					try { 
						response=await this.$axios.get(url,{baseURL: '.'}); 
					} catch (e) {
						this.warning=this.$t('lang-not-available');
					}
					if (response) {
						var md=new MarkdownIt();
						md.use(MarkdownItAttrs);
						//render
						var html=md.render(response.data);
						var container=this.$refs['markdown-block-container'];
						container.innerHTML=html;
						this.loading=false;
					}
					else {
						this.warning=this.$t('missing-page-info')
						this.loading=false;
					}
				} else {
					this.loading = false;
				}
			}
		}
	}
</script>


<i18n src="../locales/ModalInfo.json"/>