<template>
  <div>
    <div class="navbar-language-switcher">
      <input
        type="checkbox"
        class="toggle"
        id="navbar-language-switcher-chk"
        v-model="show"
      />
      <label
        for="navbar-language-switcher-chk"
        tabindex="0"
        v-on:keydown="toggleShowLang($event)"
        :aria-label="$t('openLangSelection')"
        ><web-icon :title="$t('langselection')"
      /></label>
      <div class="collapsible-content">
        <h3>{{ $t("langselection") }}</h3>
        <ul class="continent">
          <li v-for="(value, key) in $consts.SUPPORTED_LANGUAGES" :key="key">
            {{ key }}
            <ul class="language">
              <li
                v-for="(lngVal, lngKey) in value"
                :key="lngKey"
                v-on:keydown="checkSetLang($event, lngVal.code)"
                v-on:click="setLang(lngVal.code)"
                tabindex="0"
              >
                <web-icon v-if="lngVal.flag == ''" />
                <country-flag :country="lngVal.flag" v-else /> {{ lngVal.name }}
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import store from "../js/store.js";
import UserSettings from "../js/user-settings.js";
import WebIcon from "vue-material-design-icons/Web.vue";

export default {
  name: "navbar-language",
  props: {},
  components: { WebIcon },
  data: function () {
    return {
      store: store,
      lang: store.lang,
      show: false,
    };
  },
  watch: {
    lang: function () {
      UserSettings.updateLanguage(this, this.lang);
    },
  },
  methods: {
    setLang: function (newLang) {
      this.lang = newLang;
      this.show = false;
    },
    toggleShowLang: function (event) {
      if (event.key == "Enter" || event.key == " ") {
        this.show = !this.show;
      }
    },
    checkSetLang: function (event, lang) {
      if (event.key == "Enter" || event.key == " ") {
        setLang(lang);
      }
    },
  },
};
</script>
<style scoped>
input[type="checkbox"] {
  display: none;
}
label {
  display: block;
  cursor: pointer;
  text-align: right;
  margin-bottom: 0;
}
.toggle:checked + label + .collapsible-content {
  max-height: 90vh;
}
.toggle:checked + label {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.continent {
  font-weight: bold;
  padding-bottom: 10px;
}
ul.language {
  font-weight: normal;
  padding-bottom: 10px;
}
ul.language li:hover {
  color: var(--fg-link-hover);
}
ul.language li {
  cursor: pointer;
  display: inline-block;
  margin-right: 15px;
}
ul.language li span {
  margin-right: 2px;
}
.collapsible-content {
  margin-top: 15px;
  max-height: 0px;
  padding: 0 15px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--bg-nav);
  display: flex;
  flex-flow: column;
}
.navbar-language-switcher {
  padding: 0.5rem 1rem;
  color: var(--fg-light-color);
}
label:hover,
label:focus {
  color: var(--fg-link-hover);
  cursor: pointer;
}
</style>

<i18n src="../locales/NavbarLanguage.json"/>