<template>
	<div class="alert alert-warning tex-left" v-if="warnings && warnings[0]" >
		<p class="my-0 pb-1" v-for="entry in entries">{{ $t(entry) }}</p>
	</div>
</template>

<script>
	export default {
		name: "warning-list",
		props: ['warnings'],
		data: function() {
			return {
				entries:[]
			}
		},
		mounted: function() {this.filterWarnings()},
		watch: {
			warnings: function() {this.filterWarnings()}
		},
		methods: {
			filterWarnings: function() {
				if (!this.warnings) return;
				//filter warnings of same type
				this.entries=[];
				for (var warning of this.warnings) {
					if (this.entries.indexOf(warning.msg)<0) this.entries.push(warning.msg);
				}
			}
		}
	}
</script>


<i18n src="../locales/WarningList.json"/>
